{% extends "app_EPINav/base.html" %}
{% block title %}Colaborador Confirm Delete{% endblock title %}

{% block content %}
<!-- Include the header partial -->
{% include 'app_EPINav/partials/header.html' %}

<body>
    <h1>Deletar Colaborador</h1>
    <p>Tem certeza que deseja deletar {{ object.nome }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar</button>
    </form>
    <a href="{% url 'colaborador_list' %}">Cancelar</a>
</body>

{% endblock content %}

{% block footer %}
    <!-- Include the footer partial -->
    {% include 'app_EPINav/partials/footer.html' %}
{% endblock footer %}