{% extends "app_EPINav/base.html" %}

{% block content %}
{% include 'app_EPINav/partials/mensagens_erro.html' %}
<div class="container mt-5">
  <h2>Login</h2>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    
    <!-- Campo oculto para redirecionamento -->
    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}

    {% load static %}

    <div class="text-center my-4">
<img src="{% static 'app_EPINav/images/logo.svg' %}" alt="EPINav Logo" width="500">
    </div>

    <div class="mb-3">
      <label for="nome_usuario" class="form-label">Usuário</label>
      <input type="text" name="nome_usuario" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" name="senha" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>

</div>
{% endblock %}
