{% extends "app_EPINav/base.html" %}
{% block title %}Form - Emprestimo{% endblock %}

{% block content %}
{% include 'app_EPINav/partials/header.html' %}

<div class="container mt-4">
  <h2>{% if object %}Editar{% else %}Novo{% endif %} Empréstimo</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'emprestimo_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
{% block footer %}
{% include 'app_EPINav/partials/footer.html' %}
{% endblock %}